:root {
    --primary-color: #2B2D42;
    --Secondary-color: #6BA5FF;
    --Accent-color: #FFD60A;
    --Background-color: #F9FAFB;
    --textPrimary-color: #1C1C1C;
    --textSecondary-color: #8C8C8C;
    --headline1-size: 25px;
    --headline2-size: 20px;
    --headline3-size: 15px;
    --breadText-size: 12px;
    --logo-size: 36px;
}